@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background: #1e1e1e;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	margin: 0;
	padding: 0;
}

.pane {
	@apply flex-shrink-0 border-gray-600 border-r-4 last:border-none w-72 flex flex-col max-h-screen min-h-screen break-words;
}

.headline {
	font-family: 'Libre Baskerville', serif;
}
